body {
    max-width: 1400px;
    margin: 0 auto;
    font-family: "DM Sans", sans-serif;
}

.banner-section {
    background-color: #f0f6ff;

}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.nav-logo img {
    width: 100px;
}

.nav-link {
    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: space-between;
}

.nav-link a {
    text-decoration: none;
    color: #161C2D;
    font-size: 18px;
}

.nav-link a:hover {
    color: #e25c6a;
    text-decoration: underline;
}

.btn {
    padding: 14px 17px;
    color: white;
    background-color: #E25C6A;
    cursor: pointer;
    border-radius: 7px;
    border: none;
    box-shadow: 0px 10px 30px 0px rgba(226.00000000000003, 92.00000000000003, 106.00000000000001, 0.36);
}

.btn:hover {
    background-color: #8208fe;
}

.free-trial-btn {
    padding: 21px 40px;
    color: white;
    background-color: #E25C6A;
    cursor: pointer;
    border-radius: 7px;
    border: none;
    font-size: 16px;
    box-shadow: 0px 10px 30px 0px rgba(226.00000000000003, 92.00000000000003, 106.00000000000001, 0.36);
}

.learn {
    font-size: 16px;
    padding: 21px 40px;
    color: white;
    background-color: #8208fe;
    cursor: pointer;
    border-radius: 7px;
    border: none;

}

.learn:hover {
    background-color: #E25C6A;
}

.banner-title {
    flex: 1;
    font-size: 90px;
    color: #161C2D;
    padding-left: 30px;

}

.banner-title h2 {
    margin-bottom: 20px;
    font-size: 80px;

}

.banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80vh;
}

.banner-img {
    flex: 1;
}

.banner-img img {
    width: 100%;


}

/* 2nd section */

.exclusive-features-section {
    margin-top: 100px;
}

.exclusive-features-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.exclusive-features-title {
    text-align: center;
}

.exclusive-features-title h2 {
    font-size: 42px;
    color: #161C2D;
    margin-top: 0;
}

.exclusive-features-title p {
    font-size: 18px;
    color: #6E727D;
}

.exclusive-features-card img {
    width: 70px;
}

.exclusive-features-card h3 {
    font-size: 22px;
    color: #161C2D;
}

.exclusive-features-card p {
    font-size: 17px;
    color: #6E727D;
    width: 200px;
}

.arrow-right-img {
    width: 40px;
    height: 40px;
    border: 1px solid #e25c6993;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.arrow-right-img:hover {
    background-color: #e25c6a;
}

.arrow-right-img img {
    width: 30px;
}

/* 3th section */

.response-section {
    margin-top: 150px;
}

.response-chat-banner {
    display: flex;
    gap: 80px;
    margin-top: 70px;
    align-items: center;
}

.response-chat-img {
    flex: 1;
}

.response-chat-title {
    flex: 1;
}

.response-chat-title p {
    font-size: 18px;
    color: #6E727D;
}

.response-chat-title h2 {
    font-size: 42px;
    color: #161C2D;
    margin-top: 0;
    margin-bottom: 0;
}

.response-chat-title h3 {
    font-size: 17px;
    color: #6E727D;
    line-height: 30px;
}

.response-chat-img img {
    width: 100%;
}


/* 4th section */
.easy-chating-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
    margin: 100px 0px;
    background-color: #f0f6ff;
    padding: 60px;
    border-radius: 10px;
}

.easy-chating-list {
    display: flex;
    align-items: center;
    gap: 12px;
}

.easy-chating-list img {
    width: 30px;
}

.easy-chating-list p {
    font-size: 18px;
    font-weight: 500;
}

.easy-chating-contant {
    flex: 1;
}

.easy-chating-contant h2 {
    font-size: 42px;
    color: #161C2D;
    margin-top: 0;
    margin-bottom: 0;
}
.easy-chating-contant h3{
    color: rgb(110, 114, 125);
    font-size: 18px;
    font-weight: 500;
}
.easy-chating-img {
    flex: 1;
}

.easy-chating-img img {
    width: 100%;
}







/* responsive for small device */
@media screen and (max-width: 600px) {
    .nav-link a {
        display: none;
    }

    .banner {
        flex-direction: column;
    }

    .banner-title h2 {
        font-size: 45px;
    }

    .banner-img img {
        width: 100%;
    }

    .exclusive-features-cards {
        grid-template-columns: repeat(1, 1fr);
        text-align: center;
        padding: 10px;
       



    }

    .exclusive-features-title h2 {
        font-size: 36px;
    }

    .exclusive-features-card p {
        text-align: center;
        width: 100%;
    }

    .response-chat-banner {
        flex-direction: column;
        margin: 0 20px;
    }

    .response-chat-title h2 {
        font-size: 36px;
    }


}


/* responsive for tablet device  */

@media (min-width: 601px) and (max-width: 768px) {
    .nav-link a {
        display: none;
    }

    .banner-title h2 {
        font-size: 48px;
    }

    .banner {
        height: 60vh;
    }
.exclusive-features-cards{
    grid-template-columns: repeat(2,1fr);
    padding: 40px;
    
}
 .exclusive-features-card{
      margin-top: 40px;
    }
.exclusive-features-card p{
    width: 100%;
}
.response-chat-title h2{
    font-size: 28px;
}

}

/*  responsive for laptop device */
@media (min-width: 769px) and (max-width: 1024px) {
    .banner {
        height: 7git0vh;
    }

    .banner-title h2 {
        font-size: 48px;
    }
.exclusive-features-cards{
    grid-template-columns: repeat(2,1fr);
    padding: 40px;
    
}
 .exclusive-features-card{
      margin-top: 40px;
    }
.exclusive-features-card p{
    width: 100%;
}


}


/* responsive for computer device */

@media (min-width: 1025px) and (max-width: 1440px) {
    .exclusive-features-cards{
  margin: 30px;
    
}
}